.order-list {
  margin: 2vh 0;
}

h2 {
  margin: 30px 0 15px 0;
}

.dropdown {
  &.is-right {
    float: right;
  }
}

.card {
  margin: 10px 0;
  border-radius: 3px;
  .card-content {
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    i {
      font-size: .8em;
      color: #9B9B9B;
      margin-right: 5px;
    }
    .order-number {
      // border: 1px solid red;
      flex: .1 0 auto;
    }
    .order-name {
      // border: 1px solid green;
      flex: .4 0 auto;
    }
    .drinks {
      // border: 1px solid blue;
      flex: .4 0 auto;
    }
  }
}

.card-footer-item {
  color: white;
  font-weight: 600;
  padding: 8px;
  i {
    margin-left: 10px;
  }
  &.complete {
    background-color: #2ecc71;
    border-radius: 0 0 0 3px;
    &:hover {
      background-color: #27ae60;
    }
  }
  &.remove {
    background-color: #e74c3c;
    border-radius: 0 0 3px 0;
    &:hover {
      background-color: #c0392b;
    }
  }
}