<!-- Drop down on top of list to see completed orders -->
<h2 class="subtitle is-4">Order List</h2>
<div class="order-list">
  <div *ngFor="let order of coffeeOrders" class="order-container card" [hidden]="order.payload.doc.data().completed">
    <div class="card-content">
      <div class="order-number"><i class="fas fa-hashtag"></i> {{ order.payload.doc.data().orderNumber }}</div>
      <div class="order-name"><i class="fas fa-user"></i> {{ order.payload.doc.data().customerName }}</div>
      <ul *ngFor="let coffee of order.payload.doc.data().coffeeOrder" class="drinks">
        <li><i class="fas fa-coffee"></i> <span class="drink-name"> {{ coffee }}</span></li>
      </ul>
    </div>
    <footer class="card-footer">
      <div [hidden]="order.payload.doc.data().completed" (click)="markCompleted(order)" class="card-footer-item complete">
        Complete <i class="fas fa-check"></i>
      </div>
      <div [hidden]="order.payload.doc.data().completed" (click)="deleteOrder(order)" class="card-footer-item remove">
        Delete <i class="fas fa-trash"></i>
      </div>
    </footer>
  </div>
</div>